services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: thedbuser
      POSTGRES_PASSWORD: thepassword
      POSTGRES_DB: coolappdb
    command: ["postgres", "-c", "max_connections=10"] # Limit to 10 for simulation
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db